.userListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.userTable {
  width: 100%;
}
.actionButton {
  position: relative;
}
.actionButton::after {
  content: '...';
  position: absolute;
  top: 50%;
  transform: translateY(-90%);
}
