.container {
  display: flex;
  margin-bottom: 15px;
}

.label {
  display: flex;
  gap: 8px;
  width: calc(100% / 3);
  height: fit-content;
  align-items: center;
}
.label p {
  font-size: 14px;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 32px;
  width: calc(200% / 3);
}

.disabled {
  color: #8b8b8b;
}
