.timeFrameAccordion {
  width: 746px;
}
.container div[data-pc-section='groupcontainer'] {
  gap: 20px;
}

.container table[data-pc-section='table'] {
  border: none;
  font-family: 'Inter', sans-serif;
}
.container button {
  font-family: Inter, sans-serif;
}

.container div[data-pc-section='groupcontainer'] {
  max-width: 706px;
}

.container div[data-pc-section='panel'] {
  box-shadow: none;
}

.container div[data-pc-section='group'] {
  max-width: 353px;
  /* padding: 0 14px; */
}

.container div[data-pc-section='header'] {
  padding: 0 0 18px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid #e4e5e7;
}
.container div[data-pc-section='title'] {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: center;
  color: var(--primary-color);
}

.container button[data-pc-section='previousbutton'],
.container button[data-pc-section='nextbutton'] {
  width: 16px;
  height: 16px;
}

.container svg[data-pc-section='previousicon'] path,
.container svg[data-pc-section='nexticon'] path {
  fill: #285d9a;
}

.container th[data-pc-section='tableheadercell'] {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  text-align: center;
  padding: 4px;
  color: #7e818c;
}

.container td[data-pc-section='day'] span {
  border-radius: 40px;
  width: 24px;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: center;
  color: #0f2552;
}

.container td[data-pc-section='day'] {
  padding: 0;
  width: 24px;
  height: 24px;
  padding-top: 16px;
}
.container td[data-pc-section='day'] span[data-p-highlight='true'] {
  background-color: var(--primary-color);
  color: #fdfdfd;
}

/* INPUT */
.startDateInput {
  width: 103px;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.startDateInput input {
  color: #474747;
  border: 0.5px solid #474747;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-right: none;
  outline: none;
}
.startDateInput input:focus,
.startDateInput input:active,
.startDateInput button:focus,
.startDateInput button:active {
  outline: none;
  box-shadow: none;
}
.startDateInput button {
  background: white;
  border: 0.5px solid #474747;
  border-left: none;
  color: black;
  outline: none;
}
