.container{
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-bottom: 50px;
}

.content{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.time0{
    margin-top: 10px;
}
.time1{
    display: flex;
    gap: 20px;
}
.time2{
    margin-top: 30px;
}