.progressBar {
  width: 100%;
  height: 12px;
  background-color: #e0e0e0;
  border-radius: 10px;
  position: relative;
}

.progress {
  height: 100%;
  border-radius: 10px;
  position: relative;
}

.general {
  width: 26%;
  background-color: var(--primary-color);
}

.outline {
  width: 51%;
  background-color: var(--white-color);
}

.other {
  width: 76%;
  background-color: var(--orange-color);
}

.done {
  width: 101%;
  background-color: var(--green-color);
}
.stageMarker {
  position: absolute;
  top: 50%;
  transform: translate(-40%, -50%);
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}

.marker1 {
  left: 24%;
}

.marker2 {
  left: 49%;
}

.marker3 {
  left: 74%;
}

.marker4 {
  left: 99%;
}

.progressCircle {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
}

.stageLabel {
  position: absolute;
  top: 100%;
  transform: translateY(10px);
  white-space: nowrap;

  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  font-variation-settings: 'slnt' 0;
}

.label1 {
  left: 25%;
  transform: translateX(-50%) translateY(10px);
}

.label2 {
  left: 50%;
  transform: translateX(-50%) translateY(10px);
}

.label3 {
  left: 75%;
  transform: translateX(-50%) translateY(10px);
}

.label4 {
  left: 100%;
  transform: translateX(-100%) translateY(10px);
}
