.contentContainer {
  padding: 30px;
}

.classCreateNoInput {
  display: flex;
  flex-direction: column;
}

.classInput {
  display: flex;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}
.classInput > h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.inputField {
  height: 36px;
  width: 300px;

  color: #474747;

  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.inputField::placeholder {
  color: #474747;
  font-style: italic;
}

.buttonContainer,
.button {
  display: flex;
  justify-content: space-between;
}

.autoCompleteInput input[data-pc-name='inputtext'] {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 8px 16px;
  width: 334px;
}
